{{define "main"}}
    <!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

        <title>NLA_framework</title>
    </head>
    <body>
    <div>
        <div class="row">
            <div class="col" style="padding-top: 40px; padding-left: 40px">
                <h4 style="margin-bottom: 20px">NLA framework</h4>
                <a href="/users" style="text-decoration: none; color: inherit">
                    <button type="button" class="btn btn-primary">users</button>
                </a>
            </div>
            <div class="col">
                <div class="text-center">
                    <img src="/site-static-img/cat.jpg" class="rounded float-end" alt="..." style="height: 97vh">
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    </body>
    </html>


{{end}}